<a href="https://colab.research.google.com/github/cristiane88/ShePY/blob/main/Aula_4_ShePY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 4 - ShePY
## NumPY - Numerical Python

NumPY é uma poderosa biblioteca que suporta arrays e matrizes e muito importante para processamento numerico em Python. Esses tipos de cálculos númericos são amplamente utilizados em tarefas como: Modelos de Machine Learning, Visão computacional e tarefas matemáticas.

Alguns recursos no Numpy?
- ndarray: um array multidimensional eficaz que oferece operações rápidas.
- funções matemáticas para operações rápidas em arrays de dados, sem que haja a necessidade de escrever laços.

### Criando arrays com Numpy:

### Uma Dimensão - Linear

In [ ]:
import numpy as np

In [ ]:
# Criando um array a partir de uma lista
mylist = [1, 2, 3]
myarray = np.array(mylist)
myarray

array([1, 2, 3])

In [ ]:
type(myarray)

numpy.ndarray

In [ ]:
myarray = np.array([1, 2, 3])
myarray

array([1, 2, 3])

In [ ]:
# Criando um  array com arange, sendo o intervalo de 0 a 10.
ald = np.arange(0, 10)
ald

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
#Criando um array de zeros.
zeros = np.zeros(5)
zeros

array([0., 0., 0., 0., 0.])

In [ ]:
array = np.array(['pyton', 'R', 'Java'])
array

array(['pyton', 'R', 'Java'], dtype='<U5')

###Arrays de 2 dimensões

In [ ]:
a2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
a2d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
zeros2d = np.zeros(shape=(3, 4)) # 3 linhas e 4 colunas
zeros2d

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

## Array de 3 dimensões

In [ ]:
array3d = np.array([[[1, 2, 3], [4, 5, 6], [7, 8, 9]], [[10, 11, 12]], [[13, 14, 15]]])
array3d

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  """Entry point for launching an IPython kernel.

array([list([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), list([[10, 11, 12]]),
       list([[13, 14, 15]])], dtype=object)

Comparação de performace do Numpy

In [ ]:
idades = np.random.randint(50, size=1000)
idades

array([14, 14, 44, 48, 37, 44,  6, 43,  8, 14, 21, 34, 28,  8,  2, 37,  8,
        1, 45, 21, 17, 38,  6,  5, 48, 26, 32, 48, 19, 40, 25,  0, 28,  3,
       37, 18, 24,  8, 42, 18, 38, 19, 37, 19,  8, 13, 40, 48, 18, 28, 22,
       34,  1, 14, 24, 34, 16,  5, 18, 38, 31, 17, 32, 35, 12, 30, 11, 28,
        1, 20, 15,  7,  1, 14, 18, 34, 16, 46, 36, 29,  5, 34, 25, 32, 20,
       34, 15, 38, 45, 43, 42, 38, 23, 30,  4, 47,  4,  8, 44, 21, 18, 12,
       24,  2,  9, 25,  2, 39, 49, 36, 13, 21, 18, 25, 48,  3, 18, 47, 40,
       33, 16, 10, 34, 28, 32, 41, 45,  4, 47, 28,  0,  1, 45, 42, 48, 43,
       10, 14, 13, 29, 13, 15, 48, 48, 22, 39, 26, 40, 18, 17, 17, 39, 32,
       47, 10, 20,  0, 16, 22, 12, 24,  2, 32, 36,  4, 13, 28,  1, 36,  2,
        9, 48, 10, 12, 16,  5, 36, 24,  8,  1, 17, 26, 44, 31, 43, 30, 32,
       25, 28, 25, 48,  2, 45, 12, 39, 36, 48, 45, 35, 20,  3, 11, 13, 40,
       10, 19,  8,  9,  9, 10,  0, 14, 49, 22, 37, 29,  6, 42, 20, 43, 48,
       31,  8, 32, 43, 33, 40, 31, 36, 25, 10,  2, 28, 12, 32, 49, 24, 43,
       27, 33, 35, 39, 10,  7, 28,  9, 19, 13, 48, 42, 44, 43, 15, 24,  7,
        7,  6, 38, 28, 29, 48, 19, 39, 25, 36,  8, 42, 44, 46, 38, 22, 42,
       13, 47,  8, 10, 17, 34, 25, 13, 13,  9,  7, 17, 20, 31, 39, 15, 16,
       18, 44, 35, 18, 38, 32,  8,  7, 12,  6,  2, 11, 36, 14, 13, 13, 35,
        9, 42,  9, 30, 39,  6, 27, 30,  6, 13, 23,  4,  8, 20, 12, 48, 33,
       29, 35,  4, 35, 12,  2, 26, 45, 32, 22, 28, 32, 24, 38, 26, 35, 25,
       29,  1,  7, 19, 22,  9,  2, 45, 21, 41,  1, 47, 34, 16, 24, 12, 28,
       40, 46, 47,  2, 45, 18, 22, 14, 37,  9, 32, 35, 41, 13, 41, 33, 23,
       42, 27, 41, 17,  1, 27, 42, 29, 14, 27, 24, 40,  0,  2, 36, 17,  3,
       40, 29, 26, 19, 34, 22, 11,  1, 20, 17, 41,  9, 10, 36, 37, 36, 25,
       35, 49,  4, 11, 29, 29, 14, 19,  8, 11, 41, 49, 30, 36, 23, 30, 15,
        1,  4,  2, 41, 22, 46, 40, 18, 23,  0, 32,  3, 27,  4, 32, 22, 44,
        2, 40, 25, 40, 40, 27, 12, 42,  9,  4, 44, 38, 17, 20, 19, 42, 18,
        1, 14, 29, 38, 25, 13, 48, 26,  4, 42, 18, 47, 22, 17, 45, 28, 25,
       14, 10, 36,  1, 31, 20, 36,  8, 39, 43, 30,  6, 40, 24, 34,  2, 47,
        9, 44, 49, 27, 38, 47, 40, 21,  3, 26, 13, 46, 12, 13, 36, 39, 46,
       24, 24, 12, 44, 32, 14, 14,  3,  4, 16, 46, 27, 32, 33, 14,  9, 15,
       10, 49, 33,  9, 25, 29, 11, 44, 43, 33, 29, 47, 17, 10,  6, 26, 18,
       21, 39, 12, 21,  8, 30, 17,  9,  0, 19, 31, 22, 27, 43, 36, 20, 15,
       48, 37, 25, 15, 25,  1, 31, 42, 48, 22,  6, 32, 38, 49, 18, 24, 43,
        2, 36,  1, 28,  0,  3, 42, 24,  5, 13, 44,  1, 48,  0,  4, 40,  4,
       38,  2, 43, 40, 23, 21,  9, 35, 35, 49, 11, 17, 16, 19, 12, 12, 25,
       25, 48, 38, 20,  6, 37, 17, 20, 37, 42, 49, 35, 45, 28, 30, 48,  4,
        1, 14,  7,  9, 32, 24, 21, 37, 33, 35, 41, 31, 23, 12, 26, 45, 48,
       28, 26, 21, 47, 16, 24,  1, 39,  3, 18, 32, 17, 39,  0, 22, 23, 17,
       49, 34, 25, 19,  9,  9, 40, 25, 36, 43, 33, 20, 43, 25, 34,  6, 28,
       48, 42, 33, 19, 18, 32, 48, 38,  5, 45, 38,  5, 24, 47, 17,  0, 22,
       37, 33, 40, 39, 26,  1, 32, 38, 21, 23,  4, 46, 10,  4, 44,  1, 29,
       48, 22, 24, 38, 41, 42, 32, 22, 24, 21,  5, 18, 38, 26, 29, 11, 20,
       33,  2, 19,  5, 31, 46, 24, 28,  1, 18, 28, 31, 21, 29, 25,  9, 47,
       28,  0, 43, 20, 25, 47, 17, 30, 31, 29, 32, 31, 25,  5, 46, 15, 44,
       26,  5, 28, 20, 47, 27,  3, 45, 24,  4, 25, 40, 15, 14, 29,  1, 46,
        1,  3,  5, 15, 30, 31, 12,  3, 16, 39,  0, 27, 40, 49, 33, 31, 16,
       20,  8, 13,  5, 32, 39, 22, 49, 36, 48, 11, 24, 34,  3, 10,  0, 38,
       22, 21,  0, 42, 32, 45, 16, 14, 26, 16, 18, 49, 15, 48,  4, 32,  2,
        8,  7,  5, 17, 33, 49, 47,  1, 41,  1, 23, 20,  7,  5, 17, 34, 15,
       32, 28, 24,  9,  7,  7, 43, 37, 41, 39,  0,  3,  5, 18, 25,  3, 10,
       40,  2,  6, 47, 34, 34,  3, 12, 35, 45, 36, 37, 38, 28, 35, 47, 48,
       43, 41, 48, 28, 41, 45,  8, 41, 41, 21, 18,  3, 22, 21, 36, 44,  2,
       44, 45, 14, 45, 15, 42, 46, 27,  7, 19, 43, 36, 28,  2,  9, 18, 12,
       39, 33,  3, 24, 43, 26, 24, 36,  2, 20, 45,  1,  5, 23,  1, 11, 26,
       20,  7, 20, 30,  5, 14, 28, 20, 26, 26, 37, 39, 13, 44, 33, 10,  5,
       33, 14, 15, 47,  6, 27,  8,  8, 11, 13, 29, 25, 18, 38, 45, 11, 16,
       46, 15, 10, 11, 45, 29, 22, 31, 24, 44,  0, 23, 14,  9, 28, 25,  1,
       11, 37, 25, 39, 12, 47,  1, 33, 41, 36, 45, 45, 12,  4])

In [ ]:
idades = np.random.randint(50, size=1000)
len(idades)

1000

In [ ]:
%timeit sum(idades)

10000 loops, best of 5: 160 µs per loop

In [ ]:
%timeit np.sum(idades)

The slowest run took 61.00 times longer than the fastest. This could mean that an intermediate result is being cached.
100000 loops, best of 5: 5.39 µs per loop